In [3]:
#Course : DSC530
# Assignment 2.1 : Preparing for Exploratory Data Analysis

# Displaying "Hello World program "
name = "Tejashri"
print("Hello World! My name is", name)

Hello World! My name is Tejashri

In [4]:
# Adding two numbers together
num1 = 11
num2 = 6
addition_result = num1 + num2
print("Addition result:", addition_result)

Addition result: 17

In [5]:

# Subtracting a number from another number
num3 = 8
num4 = 3
subtraction_result = num3 - num4
print("Subtraction result:", subtraction_result)

Subtraction result: 5

In [6]:
# Multiplying two numbers
num5 = 6
num6 = 4
multiplication_result = num5 * num6
print("Multiplication result:", multiplication_result)

Multiplication result: 24

In [7]:
# Dividing between two numbers
num7 = 200
num8 = 5
division_result = num7 / num8
print("Division result:", division_result)

Division result: 40.0

In [8]:
# Concatenating two strings together
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello World

In [9]:
# Creating a list of 4 items
my_list = [6, "apple", 11.07, "banana"]
print("Original list:", my_list)

Original list: [6, 'apple', 11.07, 'banana']

In [10]:
# Appending an item to the list
my_list.append("grape")
print("List after appending:", my_list)

List after appending: [6, 'apple', 11.07, 'banana', 'grape']

In [11]:
# Creating a tuple with 4 items
my_tuple = (55, "orange", 9.718, "cherry")
print("Tuple:", my_tuple)

Tuple: (55, 'orange', 9.718, 'cherry')